.navMenu {
    display: flex;
    list-style: none;
    border-bottom: 1px solid #00000030;
    padding: 0;
}

.navMenu li {
    padding: 9px 0;
}

.navMenu li a{
    padding: 10px 15px;
    cursor: pointer;
    border: 1px solid #00000030;
    border-bottom: none;
    background: #dedede94;
    z-index: 1;
    margin-bottom: -1px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.navMenu li:first-child a {
    border-radius: 10px 0 0 0;
    border-right: none;
}

.navMenu li:last-child a {
    border-radius: 0 10px 0 0;
    border-left: none;
}

.navMenu .active {
    background: #fff;
}

